#concept {
    margin        : 1rem auto 0;
    text-align    : center;
    padding-top   : 1rem;
    padding-bottom: 3.5rem;
    border-bottom : 1px solid rgba(128, 128, 128, .35);
    @include bp(small) {
        padding-top   : .5rem;
        padding-bottom: 1.5rem;
    }
    @include bp(medium) {
        padding-top   : 1rem;
        padding-bottom: 2.5rem;
    }
    @include bp(afterMedium) {
        max-width     : 80%;
        padding-bottom: 2.5rem;
    }

    h1 {
        color      : $secondaryTextColor;
        font-size  : 42px;
        font-weight: normal;
        @include bp(small) {
            margin   : 0;
            font-size: 32px;
        }
        @include bp(afterSmall) {
            margin   : 2rem;
            font-size: 42px;
        }

    }

    .separator {
        @include bp(small) {
            width: 50%;
        }
        @include bp(afterSmall) {
            width: 20%;
        }
    }

    #conceptIcons {
        .conceptIcon {
            h3 {
                color      : $secondaryTextColor;
                font-weight: normal;
                @include bp(small) {
                    font-size    : 1.25em;
                    margin-bottom: 2rem;
                }
                @include bp(afterSmall) {
                    font-size    : 1.5em;
                    margin-bottom: 3.5rem;
                }
            }

            img {
                width    : 100%;
                max-width: 150px;
                margin   : 0 auto;
            }
        }
    }
    //.conceptIcons

    p {
        clear : both;
        margin: 0 auto;
        @include bp(small) {
            width: 75%;
        }
        @include bp(afterSmall) {
            width    : 70%;
            font-size: 1.15em;
        }
    }

}
//#concept
