%sebastianFooter {
    text-align: center;
    background-color: $tertiaryBgColor;
    @include bp(small) {
        padding: 1rem 0;
    }

    h2,
    h3 {
        font-weight: 300;
        color: #999;
    }

    h2 {
        line-height: 1.4;
        @include bp(small) {
            font-size: 1.2rem;
        }
        @include bp(afterSmall) {
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }

        .icon {
            font-size: .75em;
        }
    }
    //h2

    h3 {
        @include bp(smallPortrait) {
            font-size: .75rem;
        }
        @include bp(smallLandscape) {
            font-size: .9rem;
            margin-bottom: .25rem;
        }
        @include bp(afterSmall) {
            font-size: 1rem;
            margin-bottom: .35rem;
        }
    }
    //h3

    .footerKeywords {
        max-width: 65%;
        margin: .5rem auto 1rem;
        color: #999;
        @include bp(small) {
            font-size: .7rem;
        }
        @include bp(afterSmall) {
            font-size: .85rem;
        }
    }
    //.footerKeywords

    .mailto {
        padding: .5rem;
        display: inline-block;
        color: #ddd;

        .icon {
            @include bp(small) {
                font-size: .65em;
            }
            @include bp(afterSmall) {
                font-size: .9em;
            }
        }
    }
    //.mailto
}
