@mixin rounded($tl : 4px, $tr : 4px, $br: 4px, $bl: 4px) {
	-webkit-border-radius: $tl $tr $br $bl;
	-moz-border-radius   : $tl $tr $br $bl;
	-o-border-radius     : $tl $tr $br $bl;
	border-radius        : $tl $tr $br $bl;
}
